*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #171613;
    flex-direction: column;
}

.selectBoxs{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button{
    border: none;
    border-radius: 100px;
    padding: 10px;
    margin: 10px;
    box-shadow: 1px 2px 3px rgb(255, 95, 95);
    transition: all .9s ease-in-out;
}
img{
    width: 200px;
    padding: 20px;
}

#btndiv4{
    display: none;
    transition: all .9s ease-in-out;
}

.winner{
    visibility: hidden;
    transition: all 0.2s ease-in-out;
}


@media screen and (max-width: 740px) {
    

    img{
        width: 100px;
    }
}

@media screen and (max-width: 440px) {
    

    img{
        width: 80px;
    }
}
@media screen and (max-width: 375px) {
    

    button{
        padding: 2px 2px;
        margin: 2px 2px;
    }
}
@media screen and (max-width: 280px) {
    
    button{
        padding: 0;
        margin: 0;
    }
}
